@media screen and (min-width: 1200px) {
    body{
        padding: 0;
        margin: 0;
        background-image: url(../images/background1.jpeg);
        background-size: 100vw 100vh;
        font-family: 'Sen', sans-serif;
    }
    
    #maincon{
        margin-top: 30vh;
        margin-left: 10vw;
    }
    
    h1{
        font-size: 110px;
        color:burlywood;
    }
    
    h2{
        font-size: 80px;
        margin-top: -75px;
        color: cornsilk;
    }
    
    h3{
        margin-top: -40px;
        font-size: 35px;
        color: rgb(179, 185, 235);
    }
    
    a{
        text-decoration: none;
        padding: 10px;
        color:rgb(114, 129, 212);
    }
    
    #social{
        font-size: 40px;
        margin-top: -20px;
    }
}

@media screen and (max-width: 600px){
    body{
        padding: 0;
        margin: 0;
        background-image: url(../images/background1.jpeg);
        background-size: 100vh;
        font-family: 'Sen', sans-serif;
    }
    
    #maincon{
        margin-top: 30vh;
        margin-left: 10vw;
    }
    
    h1{
        font-size: 70px;
        color:burlywood;
    }
    
    h2{
        font-size: 40px;
        margin-top: -35px;
        color: cornsilk;
    }
    
    h3{
        margin-top: -20px;
        font-size: 28px;
        color: rgb(179, 185, 235);
    }
    
    a{
        text-decoration: none;
        padding: 10px;
        color:rgb(114, 129, 212);
    }
    
    #social{
        font-size: 30px;
        margin-top: -20px;
    }
}

@media screen and (max-width: 1199px){
    body{
        padding: 0;
        margin: 0;
        background-image: url(../images/background1.jpeg);
        background-size: 100% 100vh;
        font-family: 'Sen', sans-serif; 
    }
    
    #maincon{
        margin-top: 30vh;
        margin-left: 10vw;
    }
    
    h1{
        font-size: 190px;
        color:burlywood;
    }
    
    h2{
        font-size: 110px;
        margin-top: -115px;
        color: rgb(94, 135, 247);
    }
    
    h3{
        margin-top: -70px;
        font-size: 62px;
        color: rgb(208, 178, 236);
    }
    
    a{
        text-decoration: none;
        padding: 10px;
        color:rgb(28, 58, 224);
    }
    
    #social{    
        font-size: 60px;
        margin-top: -30px;
    }
}